@import "tailwindcss";

@layer base {
  html {
    font-family: var(--font-orbitron), system-ui, sans-serif;
    background-color: #EEEEEE; /* bg-red-500 */
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div,
  button {
    font-family: var(--font-orbitron), system-ui, sans-serif;
  }

  /* Tüm elementlerin arka planını kırmızı yap */
  
}

/* Özel Tailwind sınıfları */
@layer utilities {
  .bg-custom {
    background-color: #EEEEEE ; /* bg-red-500 */
  }
}
